vSuperMTClient/Web References/vBoardServiceRef/vBoardMTClientInfo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TDataResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAdvancedACDPackAvailable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DataString" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="isAdvancedACDPackAvailableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isAdvancedACDPackAvailableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TDataSoapIn">
    <wsdl:part name="parameters" element="tns:TData" />
  </wsdl:message>
  <wsdl:message name="TDataSoapOut">
    <wsdl:part name="parameters" element="tns:TDataResponse" />
  </wsdl:message>
  <wsdl:message name="isAdvancedACDPackAvailableSoapIn">
    <wsdl:part name="parameters" element="tns:isAdvancedACDPackAvailable" />
  </wsdl:message>
  <wsdl:message name="isAdvancedACDPackAvailableSoapOut">
    <wsdl:part name="parameters" element="tns:isAdvancedACDPackAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="vBoardMTClientInfoSoap">
    <wsdl:operation name="TData">
      <wsdl:input message="tns:TDataSoapIn" />
      <wsdl:output message="tns:TDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="isAdvancedACDPackAvailable">
      <wsdl:input message="tns:isAdvancedACDPackAvailableSoapIn" />
      <wsdl:output message="tns:isAdvancedACDPackAvailableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="vBoardMTClientInfoSoap" type="tns:vBoardMTClientInfoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TData">
      <soap:operation soapAction="http://tempuri.org/TData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdvancedACDPackAvailable">
      <soap:operation soapAction="http://tempuri.org/isAdvancedACDPackAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="vBoardMTClientInfoSoap12" type="tns:vBoardMTClientInfoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TData">
      <soap12:operation soapAction="http://tempuri.org/TData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="isAdvancedACDPackAvailable">
      <soap12:operation soapAction="http://tempuri.org/isAdvancedACDPackAvailable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="vBoardMTClientInfo">
    <wsdl:port name="vBoardMTClientInfoSoap" binding="tns:vBoardMTClientInfoSoap">
      <soap:address location="http://192.168.0.53/vboardmtclientof/vBoardMTClientInfo.asmx" />
    </wsdl:port>
    <wsdl:port name="vBoardMTClientInfoSoap12" binding="tns:vBoardMTClientInfoSoap12">
      <soap12:address location="http://192.168.0.53/vboardmtclientof/vBoardMTClientInfo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>